/* ///////////////  TIC TAC TOE CSS   ///////////////////////// */

@font-face {
    font-family: ka;
    src: url(../font/ka1.ttf);
  }

:root {
    
    --clr-main: #2b2d47;
    --clr-background: #4F5274;
    --clr-color-dark: #0f9baa;
    --clr-color: #29cde0;
    --clr-white: #f7f1f1;

}


* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--clr-background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

button:hover {background-color: var(--clr-color-dark)}


/* ///////////////// CSS INDEX   ////////////////////////// */



#logo {
    width: 80px;
    height: 80px;
}

.logo-box {
    margin: auto;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#user-icon {
    width: 40px;
    height: 40px;
}

#tris {
    color: var(--clr-color);
    margin-top: 20px;
    text-align: center;
    font-family: ka;
    font-size: 40px;
}

.box-players  {
    width: 500px;
    height: 400px;
    background: linear-gradient(to bottom, #2b2d47 10%, #181926);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    display: grid;
    grid-template-columns: (1, 1fr);
}

button {
    background-color: var(--clr-color);
    color: var(--clr-white);
    height: 50px;
    width: 250px;
    border: 1px solid var(--clr-color);
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: var(--clr-white);
    font-family: ka;
}


/* /////////////////////////  CSS INPUT AND BOT  //////////////////////////////// */



.input-cont {
    width: 400px;
    height: 300px;
    background: linear-gradient(to bottom, #2b2d47 10%, #181926);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



input {
    width: 300px;
    height: 50px;
    background-color: var(--clr-white);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.input-grid-1 {
    display: flex;
    flex-direction: column;
}
.input-grid-2 {
 margin-top: 30px;
 margin-bottom: 10px;
}

#user-icon {
    margin-left: 8px;
    margin-right: 8px;
    width: 35px;
    height: 35px;
}

#bot-icon {
    margin-left: 8px;
    width: 35px;
    height: 35px;
}

#bot-title  {
    color: var(--clr-color);
    text-align: center;
    margin-bottom: 30px;
    font-family: ka;
}

#bot-button, #player-button{
    font-family: ka;
    margin-top: 30px;
    
}



/* /////////////////////////  CSS GAME   /////////////////////////////// */


.game-container {
    height: auto;
    width: auto;
    background: linear-gradient(to bottom, #2b2d47 10%, #181926);
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 1px 2px 0px rgb(255, 255, 255 / 18%), inset -2px -2px 2px rgb(0 0 0 / 65%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#O-Turn, #X-Turn {
   margin: auto;
   margin-top: 15px;
}

.turn-img {
    width: 40px;
    height: 40px;
}  

.mainPage {
    height: 650px;
    width: 350px;
    padding: 20px;
    position: relative;
}

.mainPage .headerBtns {
    height: 60px;
    width: 310px;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%) , -2px -2px 5px rgb(0 0 0 /87%);
}


.mainPage .headerBtns button {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 160px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    color: var(--clr-white);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.60);
}


.mainPage .headerBtns #O-Turn  {
    text-align: center;
    left: 160px;
    z-index: 3;
}  

.showChange {
    position: absolute;
    top: 0;
    left: 0;
    height: 60px;
    width: 160px;
    border-radius: 50px;
    background-color: var(--clr-color);
    z-index: 1;
    transition: 0.2s;
}

.info {
    position: relative;
    top: 25px;
    margin: auto;
    width: 320px;
    height: 100px;
    background-color: var(--clr-main);
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%) , -2px -2px 5px rgb(0 0 0 /87%);
    border-radius: 15px;
    color: var(--clr-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}

#GameBoard {
    margin-top: 80px;
    height: 400px;
    width: 330px;
    position: absolute;
    top: 150px;
    left: 10px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 15px;
    
}

.boxes {
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 /87%);
    display: grid;
    place-items: center;
    cursor: pointer;
}

.boxes i {
    font-size: 60px;
    color: var(--clr-color);
}


/* /////////////////   WINNER PAGE   /////////////////////////////// */




.winner-box {
    height: auto;
    width: auto;
    background: linear-gradient(to bottom, #2b2d47 10%, #181926);
    border-radius: 20px;
    padding: 20px;
    box-shadow: inset 1px 2px 0px rgb(255, 255, 255 / 18%), inset -2px -2px 2px rgb(0 0 0 / 65%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: var(--clr-white);
    text-align: center;
}

.winner .button-player {

    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;

}

#winner-button {
    font-family: ka;
}

.winner .button-player button {
    margin-top: 20px;
}


/* ////////////////////  MEDIA QUERIES   //////////////////////////// */


@media only screen and (min-width: 600px) {
    .game-container {
        width: auto;
        height: auto;
    }
}